{% block content %}


<!-- Do Activity Modal -->
<div id="do-activity-modal" class="modal fade" role="dialog">

        <div class="modal modal-dialog-centered modal-sm" style="margin: 0 auto">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">Do Activity</h4>
                    <button type="button" class="close" data-dismiss="modal">
                    &times;
                    </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">

                    <h6 id="modal-activity-name"></h6>


                    <form
                    action="{% url 'do_activity' assignment.id %}"
                    method="POST"
                    >
                        {% csrf_token %}
                        <input type="hidden" name="activityid" id="hidden-activity-id" value="">

                        <div class="form-group">
                            <label for="contribution">Contribution</label>
                            <input
                            type="number"
                            class="form-control"
                            id="modal-activity-contribution"
                            name="contribution"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="time_taken">Time taken</label>
                            <input
                            type="number"
                            class="form-control"
                            name="time_taken"
                            required
                            />
                        </div>

                         <!-- Validation time taken -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif %}
                        <!-- End Validation title -->

                        {% for task in tasks %}
                           {{task.title}}  {{task.amount_complete}}/{{task.target}}
                            <br>
                        {% endfor %}

                        <button type="submit" class="btn btn-block btn-warning">
                            Do the activity
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
</div>
    <!-- End do activity modal -->
{% endblock %}