{% block content %}


<!-- View Milestone Modal -->
<div id="popup-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">View Milestone</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">

                    <form
                    action="{% url 'dashboard' user.id %}"
                    method="POST"
                    >



                        <!-- Name of Milestone-->
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input
                            type="text"
                            class="form-control"
                            name="title"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->



                        <!-- Deadline -->
                        <div class="form-group">
                            <label for="date">Deadline Date:</label>
                          <input type="date"
                                  name="date"
                                 placeholder = data-date-format
                                  required>
                        </div>
                        <!-- time -->
                        <div class="form-group">
                            <label for="time">Deadline Time:</label>
                          <input type="time"
                                  name="time"
                                  placeholder = data-time-format
                                  required>
                        </div>



                        <!-- Tasks to Complete-->
                        {% for task in tasks %}
                            <input type="checkbox" value="{{task.id}}" name="task">
                           Title: {{task.title}}  Deadline: {{task.end_date|date:'Y-m-d H:i' }}
                            <br>
                        {% endfor %}









                        <button type="submit" class="btn btn-block btn-warning">
                            Create Milestone
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->
{% endblock %}